.test3-wrapper {
  background: #fff;
  width: 374px;
  height: 812px;
  position: relative;
  color: #04004D;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  margin-top: 60px;
  padding: 11px 20px 10px 20px;
  
  h1 {
    font-family: 'Clear Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    margin: 0;
  }

  button {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    background: #fff;
    padding-left: 2px;
  }
}

.guide {
  margin: 16px 20px;

  font-family: 'Clear Sans Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;

  // display: flex;
  // align-items: center;

  color: #004DFF;
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  gap: 16px;

  width: 335px;
  height: 368px;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    gap: 8px;

    width: 101px;
    height: 32px;

    /* Color/Neutral/White */

    background: #FFFFFF;
    box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.07);
    border-radius: 6px;

    div {
      width: 20px;
      height: 20px;
      background-color: #BBCFFB;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #004DFF;

        font-family: 'Clear Sans Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
      }
    }

    span {
      font-family: 'Clear Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
    }
  }
}

.word-list2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  gap: 16px;

  width: 343px;
  height: 422px;

  &__item2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 28px 0 24px;

    width: 343px;
    height: 57px;

    border: 1px solid #D3D7DB;
    filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
    border-radius: 6px;

    &__index {
      width: 24px;
      height: 24px;
      border: 1px solid #004DFF;
      border-radius: 50%;
      span {
        display: grid;
        place-items: center;
        font-family: 'Clear Sans Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #004DFF;
      }
    }

    &__word {
      width: 59px;
      height: 33px;
      filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
      border-radius: 6px;
      padding: 6px 12px;
      margin-left: 32px;
      cursor: pointer;

      &:first-child {
        margin-left: 24px;
      }

      font-family: 'Clear Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;

      &--checked {
        background: #BBCFFB;
        box-shadow: 0px 7px 20px rgba(21, 79, 212, 0.1);
      }
    }
    // div {
    //   border: 1px solid #D3D7DB;
    //   filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
    //   border-radius: 6px;

    //   span {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);

    //     color: #004DFF;

    //     font-family: 'Clear Sans Medium';
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 11px;
    //     line-height: 13px;
    //   }
    // }

    // span {
    //   font-family: 'Clear Sans';
    //   font-style: normal;
    //   font-weight: 400;
    //   font-size: 15px;
    //   line-height: 21px;
    // }
  }
}

.copy-block {
  display: flex;
  align-items: center;
  margin: 0 16px;
  margin-top: 23px;

  p {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    
    margin: 0;
    color: #04004D;
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.action-block {
  position: absolute;
  bottom: 0;

  width: 374px;
  height: 170px;
  background: #FFFFFF;
  box-shadow: 0px -7px 64px rgba(0, 0, 0, 0.07);

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 20px;

    p {
      font-family: 'Clear Sans Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 23px;
      margin: 0;
    }

    button {
      display: grid;
      place-items: center;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: none;
      background: #fff;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19.5px 12px;
    margin: 0 20px;
    cursor: pointer;

    width: 335px;
    height: 56px;

    /* Color/Accent/Blue 1 */

    color: #fff;
    background: #004DFF;
    border-radius: 10px;

    &--loading {
      background: #BBCFFB;
    }

    &--disabled {
      cursor: default;
      background: #BBCFFB;
    }
  }

  
}

.copy-announcement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  &__panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 281px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
    border-radius: 16px 16px 0px 0px;

    &--created {
      height: 604px;
    }
  }

  &__down-arrow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    
    img {
      margin-top: 15px;
    }
  }

  &__image {
    margin-top: 44px;

    &--created {
      margin-top: 54px;
    }
  }

  &__content {
    margin: 24px 0;

    font-family: 'Clear Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    padding: 0 16px;
  }

  &__action {
    margin-top: 24px;
  }

  &__coundown {
    position: absolute;
    bottom: 31px;
    width: 32px;
    height: 32px;

    span {
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Clear Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #FF0366;
    }
  }
}